* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
.flex {
    display : flex;
}
.under {
    padding-top : 63px;
}
.undersub {
    scroll-margin-top: 70px;
}
a {
    text-decoration: none;
}
/* ------Achivements------ */

.achiev .icon {
    width: 70%;
    margin : 0 15%;
}
div.achives {
    background-color: white; 
}
div.achiev {
    flex : 1;
    padding : 8px;
    margin : 0 2rem;
}
div.achiev > p {
    font-size : 14px;
    text-align: center;
}
div.achiev svg:hover {
    width: 80%;
    margin : 0 10%;
}

/* ------Ảnh giới thiệu------ */
.gioithieu img {
    width : 100%;
}


/* ------Bố cục left------ */

.left {
    width : 20%;
    margin : 0;
    background-color: white;
}
/* Thanh menu */
div.thanhmenu {
    position : fixed;
    width : 19.7%;
    vertical-align: center;
}
ul.subs > li > a {
    display : block;
    width : 100%;
    padding : 12%;
    border-bottom : 0.5px solid gray;
    box-sizing: border-box;
    font-size: 1.1rem;
    color : #321d5e;
}
ul.subs > li > a:hover {
    background-color : #b5aad8;
    font-weight: 800;
}
.lstyle {
    list-style-type: none;
    background-color: white;
    padding : 0;
    margin : 0;
}
/* submenu */
ul.sub {
    display : none;
}
ul.sub > li > a {
    display :block;
    padding : 1rem;
    background-color: #52407b;
    border : 0.5px solid lightgray;
    border-radius: 20px;
    width : 90%;
    margin: 5px auto;
    color : white;
}
ul.sub > li > a:hover {
    background-color: #b5aad8;
    font-weight: 750;
}
.subs > li:hover > .sub {
    display: block;
    padding : 1rem;
    border-bottom : 0.5px solid lightgray;
}

/* ------Bố cục right------ */

.center {
    align-items: center;
    vertical-align: center;
}
div.info {
    display :block;
    padding : 5px;
    background-color: #321d5e;
}
.right {
    width : 80%;
    margin : 0 2rem 2rem 2rem;
}
.tieude h1 {
    text-align: center;
    text-shadow: 2px 2px 10px #D3A3DA;
    font-size: 2.5rem;
}
.tieudephu h2 {
    width: 70%;
    text-align: center;
    font-size: 25px;
    padding : 20px;
    background-color: #b5aad8;
    box-shadow: 5px 5px 40px #52407b ;
    border-radius: 40px;
    left : 10px;
}
div.fromLeft > h2, div.fromLeft > h3{
    margin-left: auto;
}
div.fromRight > h2, div.fromRight > h3{
    margin-right : auto;
}
.menuXettuyen > h3 {
    padding : 10px;
    text-align: center;
    background-color: #52407b;
    border-radius: 50px;
    color : white;
    width : 80%;
    margin : 5px;
}
h3 {
    text-indent : 70px;
    font-size: 1.2rem;
}
.nolistType > li {
    list-style-type: none;
}
.mota {
    text-indent: 30px;
    font-size: 17px;
}
ul.mota > li > ul {
    font-size: 1rem;
    list-style: none;
}
table {
    width: 100%;
    border: 1px solid gray;
    padding : 10px;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid gray;
    padding: 10px;
}

/* ------Ẩn hiện các thành phần------ */

.hidenAn {
    display : none;
}
 .displayHien {
    display : block;
 }


/* ------------ */
footer {
    width : 100%;
    background-color: #1f203b;
    color : lightgrey;
    padding : 2.5%;
    box-sizing: border-box;
    margin : 0;
    bottom : 0;
    direction: inherit;
}
