* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
.screen {
    width : 100vw;
    height : 100vh;
    overflow: hidden;
}
.flex {
    display : flex;
}
a {
    text-decoration: none;
}
.noList {
    list-style-type : none;
}
.hide {
    display : none;
}
/* Thanh menu */
.sticky {
    position: sticky;
    top : 0;
    z-index: 1000;
    color : #321d5e; 
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6); */
}
ul.submenus {
    background: white;
    color : #321d5e; 
    padding : 0;
    margin : 0;
}
ul.submenus > li {   
    /* border-left : 1px solid #321d5e; */
    position : relative;
    margin-left: auto;
    width : 25%;
    height: 100%;
    text-align : center;
}
ul.submenus > li > a {
    display : block;
    padding : 20px;
    font-size: 1rem;
    color : #321d5e; 
    right : 0;
    margin : 0;
    position: relative;
}
ul.submenus > li > a:hover {
    background-color : #a08fd6;
    font-weight: 700;
}
.submenu {
    display : none;
    position : absolute;    
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    background-color: transparent;
    z-index: 1000;
    width : 100%;
}
ul.submenu > li {
    white-space: inherit;
    margin : 5px;
}
ul.submenu > li > a {
    display :block;
    padding : 1rem;
    border : 0.5px solid lightgray;
    border-radius: 20px;
    background-color: white;
    color : #321d5e; 
}
ul.submenu > li > a:hover {
    background-color: #afa7ce;
    font-weight: 750;
}
.submenus > li:hover > .submenu {
    display: block;
}

/* ------Ảnh giới thiệu------ */
.inFo img {
    width : 100%;
}

/* ------Achivements------ */

.achiev .icon {
    width: 70%;
    margin : 0 15%;
}
div.achives {
    background-color: white; 
}
div.achiev {
    flex : 1;
    padding : 8px;
    margin : 0 2rem;
}
div.achiev > p {
    font-size : 14px;
    text-align: center;
}
div.achiev svg:hover {
    width: 80%;
    margin : 0 10%;
}

