.flex {
    display : flex;
    /* justify-content: center;
    align-items: center;  */
}
.under {
    padding-top : 63px;
}
/* ------Achivements------ */

.achiev .icon {
    width: 70%;
    margin : 0 15%;
}
div.achives {
    background-color: white; 
}
div.achiev {
    flex : 1;
    padding : 8px;
    margin : 0 2rem;
}
div.achiev > p {
    font-size : 14px;
    text-align: center;
}
div.achiev svg:hover {
    width: 80%;
    margin : 0 10%;
}

/* ------Ảnh giới thiệu------ */
.gioithieu img {
    width : 100%;
}


/* ------Bố cục web------ */

.left {
    width : 20%;
    margin : 0;
    border-right : 5px solid lightblue;
}
/* Thanh menu */
div.thanhmenu {
    position : fixed;
    width : 19.7%;
}
ul.subs > li > a {
    display : block;
    width : 100%;
    padding : 15%;
    border-bottom : 0.5px solid gray;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1rem;
    color : white;
}
ul.subs > li > a:hover {
    background-color : #8171b6;
    font-weight: 750;
}
.lstyle {
    list-style-type: none;
    background-color: #43366e;
    padding : 0;
    margin : 0;
}
/* submenu */
ul.sub {
    display : none;
}
ul.sub > li > a {
    display :block;
    padding : 1rem;
    background-color: #c8c0e2;
    border-bottom : 0.5px solid lightgray;
    border-left : 0.5px dashed lightgray;
    border-radius: 20px;
    margin-bottom: 5px;
    width : 50%;
    margin-left : auto;

}
.subs:hover .sub {
        display: block !important;
        padding : 1rem;
        border-bottom : 0.5px solid lightgray;
}

.right {
    width : 80%;
    margin : 0;
}
div.tieude {
    margin : 0;
    padding : 2rem;
}
.tieude h1 {
    text-align: center;
    text-shadow: 2px 2px 10px #D3A3DA;
    font-size: 2rem;
}

/* ------------ */
footer {
    width : 95%;
    background-color: #8182DA;
    padding : 2.5%;
    margin : 0;
    bottom : 0;
    direction: inherit;
}
