* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --tim : #321d5e;
    --tieudephu : #52407b;
}
.flex {
    display : flex;
}
a {
    text-decoration: none;
}
.noList {
    list-style-type : none;
}
.hide {
    display : none !important;
}
.show {
    display : block !important;
}
.center {
    align-items: center;
    vertical-align: center;
}
.undersub {
    scroll-margin-top: 80px;
}
#gotoTop {
    right : 30px;
    bottom : 50px;
    position : fixed;
    width : 50px;
    height : 50px;
    text-align: center;
    background-color: var(--tieudephu);
    color : white;
    font-size: 30px;
    font-weight: 800;
    z-index : 999;
    padding : 8px;
    cursor : pointer;
}
.bogoc {
    width : 80%;
    margin : 20px; 
    border : 2px dashed var(--tim); 
    border-radius: 50px;
    margin-bottom: 5rem;
}

/* ------Thanh menu------ */
.sticky {
    position: sticky;
    top : 0;
    z-index: 999;
    color : var(--tim);
}
ul.submenus {
    background: white;
    color : var(--tim); 
}
ul.submenus > li {   
    position : relative;
    width : 25%;
    margin : 0;
    text-align : center;
}
ul.submenus > li > a {
    display : block;
    padding : 20px;
    font-size: 1rem;
    color : var(--tim);
}
ul.submenus > li > a:hover {
    background-color : #a08fd6;
    font-weight: 700;
}
.submenu {
    width : 100%;
    display : none;
    position : absolute;    
    list-style: none;
    background-color: transparent;
    z-index: 999;
    align-items: center;
}
ul.submenu > li {
    margin : 5px;
}
ul.submenu > li > a {
    display :block;
    padding : 1rem;
    border : 0.5px solid lightgray;
    border-radius: 20px;
    background-color: white;
    color : var(--tim);
}
ul.submenu > li > a:hover {
    background-color: #afa7ce;
    font-weight: 750;
}
.submenus > li:hover > .submenu {
    display: block;
}

/* ------Ảnh đầu trang & Ảnh giới thiệu------ */
.tieude img {
    width : 100%;
}
.tieude > h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display : block;
    padding : 20px;
    font-size : 2rem;
    font-style: bold;
    text-align : center;
    opacity : 0;
    animation : flyText 1s forwards infinite;
}
@keyframes flyText {
    from { opacity : 0 }
    to { opacity : 1 }
}
#flySpace {
    position : relative;
    width : 1000px;
    top : 20px;
    left : 0;
    margin : 0 auto;
}
.iconAhihi { 
    position: absolute;
    animation: ahihi 5s linear infinite;
    overflow: hidden;
}
.iconAhihi > i {
    height : 50px;
    width : 50px;
    margin : 0;
} 
@keyframes ahihi {
    0% {
        left: 0;
        transform: translateY(-50%) rotate(0deg);
    }
    20% {
        left: 20%;
        transform: translateY(-50%) rotate(5deg);
    }
    40% {
        left: 40%;
        transform: translateY(-50%) rotate(-5deg);
    }
    60% {
        left: 60%;
        transform: translateY(-50%) rotate(5deg);
    }
    80% {
        left: 80%;
        transform: translateY(-50%) rotate(-5deg);
    }
    100% {
        left: 100%;
        transform: translateY(-50%) rotate(0deg);
    }
}
.anhGioiThieu {
    width : 90%;
    margin : 0 auto;
    margin-bottom: 2rem;
}
.image {
    width : 20%;
    height: auto;
}
.anhGioiThieu img {
    width : 100%;
    height: 200px;
    padding : 30px;
    box-sizing: border-box;
    transition : 0.2s;
    border-radius: 100px;
}
.image > img:hover {
    transform: scale(1.2);
}
.gallery {
    position: fixed;
    top : 0;
    bottom : 0;
    right : 0;
    left : 0;
    background-color: rgb(0,0,0,0.9);
    text-align: center;
    color : white;
    z-index: 1000;
    display : none;
}
.pictureZoom {
    width : 80%;
    height : 80%;
    margin : 50px auto;
}
#popImg{
    width : 100%;
    height: 100%;
    transition: 2s;
}
.styleButton { 
    font-size : 2.6rem;
}
#closeButton {
    top : 30px;
    right : 100px;
    position: fixed;
}
#preButton {
    left : 30px;
    top : 350px;
    position: fixed;
}
#nextButton {
    right : 30px;
    top : 350px;
    position: fixed;
}

/* ------Infomation Sections------ */
section {
    width : 80%;
    margin : 0 auto;
}
.tieudephu h2 {
    width: 70%;
    text-align: center;
    font-size: 25px;
    padding : 25px 10px;
    background-color: #b5aad8;
    box-shadow: 5px 5px 40px var(--tieudephu);
    border-radius: 40px;
    left : 10px;
    margin : 1.5rem 0;
}
.menuXettuyen > h3 {
    padding : 10px;
    text-align: center;
    background-color: var(--tieudephu);
    border-radius: 50px;
    color : white;
    width : 80%;
    font-size: 1.2rem;
    margin : 1rem 0;
    cursor: pointer;
}
.mota {
    text-indent: 30px;
    font-size: 17px;
}
ul.mota > li > ul {
    font-size: 1rem;
    list-style: none;
}
table {
    width: 100%;
    border: 1px solid gray;
    padding : 10px;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid gray;
    padding: 10px;
}
.motaa {
    font-size: 17px;
}
.plusList li::before {
    content: "+"; 
    margin-right: 10px; 
    color: black;
}
.hiddenAn {
    display : none;
}
.fly {
    margin-top : 5rem;
    left : 0;
}
.fromLeft {
    position : relative;
    animation: flyFromLeft 1.5s ease-in-out 0.2s forwards;
}
@keyframes flyFromLeft {
    from {left : 0}
    to {left : 23.5%}
}
#luuY {
    margin-bottom : 4rem;
}

/* ------News Section------ */
.svSpace {
    width : 95%;
    background-color: lightsteelblue;
    margin : 0 2.5%;
    padding : 1rem;
    height:auto;
    border-radius: 20px;
}
.svSpace h1 {
    text-align: center;
    padding : 10px;
}
.listSpace {
    width : 100%;
    overflow: auto;
}
.listSpace::-webkit-scrollbar {
    display : none;
}
.list {
    flex-wrap: nowrap; 
}
.item {
    flex: 0 0 50%;
    padding : 20px;
    box-sizing: border-box;
}
.imgSv {
    width : 100%;
    height : auto;
}
.item .content p {
    font-size: 13px;
    text-indent : 20px;
    text-align: center;
}
.direction {
    justify-content: center;
    margin-top: 1rem;
}
.direction button {
    font-weight : bold;
    background-color: #ffffff44;
    border : none;
    width : 50px;
    height : 50px;
    border-radius: 50%;
    transition: 0.5s;
    margin : 0 10px;
    display : flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}
.direction button > i {
    font-size: 30px;
    padding : 0;
}
.direction button:hover {
    background-color: #ffffff;
}

/* ------------ */
footer {
    width : 100%;
    background-color: #1f203b;
    color : lightgrey;
    padding : 2.5%;
    box-sizing: border-box;
    margin : 3rem 0 0 0;
    bottom : 0;
}
div#logo {
    float : left;
    width : 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    left : 5px;
}
#logo img {
    width : 100px;
    height : 100px;
}
#tenAndlogo > h1 {
    font-size: 12px;
    width: 450px;
    padding : 10px;
    text-align: center;
}
footer h2 {
    padding : 5px;
}
footer i {
    padding : 5px;
}
.achievs {
    padding : 40px;
}
.achievs > i {
    color : white;
    width : 50px;
}
.achievs > h3 {
    font-size: 1.2rem;
    text-align: center;
}


