*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*Thanh menu*/
header{
    top: 0;
    left: 0;
    width: 100%;
}
.float_l {
    float : left;
}
.mucLucs{
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.logoTruongs{
    padding-left: 3rem;
    margin: 0.3rem;
}

#logoTruong{
    width: 300px;
}

nav.mucLucs{
    margin-left: auto;
    padding-right: 30px;
}

ul.mucLucs{
    margin: 0.3rem;
    list-style-type: none;
}

.mucLucs>li>a{
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    color: #321d5e;
    font-weight: bold;
    margin: 1.25rem 0.5rem;
}
ul.mucLucs>li>a:hover{
    color: #b9a2d8;
}
ul.mucLuc > li {
    display : none;
}

Thanh menu nhá» trong menu
ul.mucLuc{
    margin: 0;
    list-style-type: none;
    padding: 0;
    background-color: white;
    display: none;
    position: absolute;
    border-radius:0 0 5% 5%;
}

ul.mucLuc>li>a{
    text-decoration: none;
    color: #321d5e;
}

ul.mucLuc>li>a:hover{
    color: #b9a2d8;

}

.sub:hover .mucLuc{
    display: block !important;
}

.mucLuc>li:first-child{
    margin-top: 1.5rem;
}

.mucLuc>li{
    margin: 0 1.5rem 1.5rem 1.5rem;
    margin-left: 1.5rem;
}

.editMenuSmall2>li{
    margin-right: 1.5rem !important;
}

