*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* <----------THANH MENU START------------------------> */
.mucLucs{
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.logoTruong{
    padding-left: 3rem;
    margin: 0.3rem;
    width : 40%;
}
#logoTruong{
    width: 18rem;
}
nav.mucLucs{
    margin-left: auto;
    padding-right: 18px;
    width : 100%;
}
ul.mucLucs {
    justify-content: space-between;
}
.mucLucs>li>a{
    text-decoration: none;
    display: block;
    padding: 0 1.2rem;
    color: #321d5e;
    font-weight: bold;
    margin: 1.25rem 0.5rem;
    border-left : 2px solid lightgray;
}
ul.mucLucs>li>a:hover{
    color: #b9a2d8;
}
/* ------SUBMENU----- */
ul.mucLuc{
    margin: 0;
    list-style-type: none;
    padding: 0;
    background-color: white;
    display: none;
    position: absolute;
    border-radius:0 0 5% 5%;
}
ul.mucLuc>li>a{
    text-decoration: none;
    color: #321d5e;
}
ul.mucLuc>li>a:hover{
    color: #b9a2d8;
}
.sub:hover .mucLuc{
    display: block ;
}
.mucLuc>li:first-child{
    margin-top: 1.5rem;
}
.mucLuc>li{
    margin: 0 1.5rem 1.5rem 1.5rem;
    margin-left: 1.5rem;
}
/* <----------THANH MENU END------------------------> */

