@media screen and (max-width : 950px) {
    * {
        padding : 0;
        margin: 0;
        box-sizing: border-box;
        font-size : 14px;
    }
}
@media screen and (max-width : 767px) {
    * {
        font-size : 12px; 
        max-width: 100%;
    }
    :root {
        --tim : #321d5e;
        --tieudephu : #52407b;
    }
    
/* <----------THANH MENU-----------------------> */
    .thanhmenu {
        display : none;
        width : 100vw;
        margin : 0;
        position : relative;
        transition: 2s ease-out;;
    } 
    .logoTruong {
        display : none;
    }
    .menuDt {
        display : block; 
        z-index : 9999;
        background-color : white;
        display : flex;
        margin : 0;
        width : 100%;
        position : sticky;
    }
    .menuDt img {
        width : 20rem;
    }
    #menuBtn {
        display : flex;
        width : 3rem;
        height : 3rem;
        padding : 1rem;
        background-color: var(--tim);
        align-items: center;
        z-index : 1000;
        cursor: pointer;
        margin : 0.5rem 1rem;
        color : white;
        margin-left : auto;
    }
    .mucLucs {
        flex-direction: column;
        position : relative;
    }
    .sub > ul {
        width : 70%;
        position : relative;
        margin-left: auto;
        margin-right: 3rem;
    } 
    .sub > ul > li {
        border-bottom : 1px solid lightgray;
    }
    #closeMenu {
        display : block;
    }

/* <----------DAU TRANG----------------------> */
    #flySpace {
        display : none;
    }

/* <----------ANH GIOI THIEU----------------------> */
    .tieude h1 {
        width : 60%;
        margin : 0 auto;
        font-size: 1.5rem;
        display : block;
        padding : 5px;
    }
    .gallery {
        width : 200px;
        margin : 0 auto;
    }
    .listImg {
        width : 100%;
    }
    .listImg .image{
        flex: 0 0 200px;
        height : 100px;
    }
    .listImg img {
        width : 200px;
        height : 80px;
    }
    .imgText {
        font-size : 0.5rem;
        font-weight: bold;
        padding : 15px;
    }
    .btn {
        padding : 0px;
        font-size : 0.5rem;
    }
/* <----------NOI DUNG TRANG----------------------> */
    .tab > li > a {
        height : 10rem;
    }
    .menuXettuyen ul > li > a {
        height : 5.5rem;
        padding :1rem;
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
    }
}
