/* * ------Infomation Sections------ */ */
* {
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
.infoArea {
    width : 85%;
    margin : 0 auto; 
    background-color: rgb(236, 210, 210); 
    border-radius: 50px;
    margin-bottom: 5rem;
    padding : 20px;
}
.flex {
    display : flex;
}
.menuNoiDung {
    margin : 0 auto;
    align-items: center;
    justify-content: space-around;
}
ul.menuNoiDung > li {  
    display : block;
    width : 25%;
    padding : 1.2rem;
    margin : 0;
    text-align : center;
    border : 1px solid red;
}

.noiDung {
    width : 100%;
    height : auto;
    display : none;
}
.show {
    display : block;
}

.infoArea {
    width : 85%;
    margin : 3rem auto 0; 
    background-color: white; 
    border-radius: 50px;
    margin-bottom: 5rem;
    padding : 20px;
}
.tieudephu h2 {
    width: 70%;
    text-align: center;
    font-size: 1.6rem;
    padding : 25px 10px;
    background-color: #b5aad8;
    box-shadow: 5px 5px 40px var(--tieudephu);
    border-radius: 40px;
    left : 10px;
    margin : 1.5rem 0;
}

.menuXettuyen > h3 {
    padding : 10px;
    text-align: center;
    background-color: var(--tieudephu);
    border-radius: 50px;
    color : white;
    width : 80%;
    font-size: 1.2rem;
    margin : 1rem auto;
    cursor: pointer;
}
.mota {
    text-indent: 30px;
    font-size: 1.1rem;
}
ul.mota > li > ul {
    font-size: 1rem;
    list-style: none;
}
table {
    width: 100%;
    border: 1px solid gray;
    padding : 10px;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid gray;
    padding: 10px;
}
.motaa {
    font-size: 1rem;
}
.plusList li::before {
    content: "+"; 
    margin-right: 10px; 
    color: black;
}
.hiddenAn {
    display : none;
}
.fly {
    margin-top : 5rem;
    left : 0;
}
.fromLeft {
    position : relative;
    animation: flyFromLeft 1.5s ease-in-out 0.2s forwards;
}
@keyframes flyFromLeft {
    from {left : 0}
    to {left : 15%}
}
#luuY {
    margin-bottom : 4rem;
}
